<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFistGithubProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E45021F1F21D3E1005C7B6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E45023B1F21D3E1005C7B6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E4502461F21D3E1005C7B6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
